/node_modules
/public/hot
/storage/*.key
/vendor
.env
.env.*.log
.env.*.bak
test.env.*.bak
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
log.txt
/storage/app/*
!/storage/app/downloads
.idea
.rnd
